/* style.css */

/* Body & Font Resets */
body {
  background-color: #fff;
  font-family: 'Merriweather', serif;
  color: #111;
  margin: 0;
  padding: 0;
}

/* Container */
.container {
  padding: 20px;
  max-width: 1100px;
  margin: auto;
}

/* Title & Subtitle */
.title {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  font-family: 'Old English Text MT', serif;
  color: #000;
  margin-bottom: 2px;
}
.sub-title {
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  color: #555;
  font-style: italic;
}

/* Horizontal Rule */
.divider {
  border: 2px solid black;
  margin-top: 0;
  margin-bottom: 15px;
}

/* Layout Rows & Columns */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.col {
  flex: 1;
  min-width: 250px;
  margin: 10px;
}

/* Dropdown Label, Description, and Button */
.scenario-label {
  display: block;
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 22px;
  font-weight: bold;
  margin: 20px 0 10px 0;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

#scenarioDescription {
  margin-top: 10px;
  font-style: normal;
  font-size: 13px;
  line-height: 1.5;
  color: #333;
}

button {
  width: 100%;
  padding: 12px 0;
  font-size: 20px;
  font-weight: bold;
  background: #222;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: #444;
}

/* Dropdown */
select {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
}

/* News Boxes */
.news-box {
  font-size: 18px;
  padding: 20px;
  background: #fff;
  border: 2px solid black;
  position: relative;
  min-height: 150px;
  line-height: 1.5;
  text-align: justify;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  border-radius: 0px;
  margin-top: 10px;
}
.news-header {
  font-family: 'Lora', serif;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.tag {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  background: grey;
  padding: 3px 8px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 3px;
}
